





body{
    display: grid;
    grid-template-columns: 100px auto 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    background-image: url('images/mersszz/IMG_20211026_175232.jpg');
    background-size: 100%;
}
.intro {
    grid-column: 2;
    padding: 20px;
    background-color: lightgrey;
}
nav {
    border-radius: 4px;
    background-color: grey;
    grid-column: 1;
    
}
